body {
      background-color: black;
}
 
.contenitore {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.elemento {
      width: 0;
      height: 0;
      display: inline-block;
      line-height: 0;
      margin: 30px;
      border: 100px solid white;
}
